<template>
    <div id="timer">
        <span class="time_title">Time : </span>
        <span class="time" id="minutes">{{ minutes }}</span>
        <span class="separator" id="middle">:</span>
        <span class="time"  id="seconds">{{ seconds }}</span>
    </div>
</template>

<script>
    export default {
        props :[ 'minutes',
            'seconds'
        ],
        methods: {
            resetTimer: function() {
                clearInterval(this.timer);
                this.timer = null;
            },
        },
        }
</script>
<style scoped>
    #timer{
        margin-bottom: 50px;
    }
    .time {
        background-color: #000;
        color: #fff;
        border-radius: 4px;
        padding: 10px;
        text-align: center;
        font-weight: 400;
    }
    .time_title{
        color:#000;
    }
    .separator {
        color:#000;
        padding: 0 2px;
        font-size: 28px;
    }
</style>