<template>
    <div class="playGround">
        <Counter :minutes="minutes" :seconds="seconds" />
        <div v-if="matchedCards > 8" >
            <Cards class="cards"
                   v-for= "(cardImage, imageIndex) in CardImages"
                   :key= "imageIndex"
                   :cardImage= "cardImage"
                   @clickCard= "FlipCard"
            />
        </div>
        <div else class="empty" />
    </div>
</template>
<script>
  import Cards from './Cards.vue';
  import Counter from './Counter.vue';

  export default {
    name: 'Playground',
    components: {
      Cards,
      Counter
    },

    data: () => {
      return {
          timer: null,
          startTime: 0,
          gameStarted: false,
          CardImages: [
          {
            id:1,
            img: require("../assets/GenZ.jpg"),
            similar: false,
            open: false,
          },
          {
            id:2,
            img: require("../assets/JustCause3.jpg"),
            similar: false,
            open: false,
          },
          {
            id:3,
            img: require("../assets/JustCause4.jpg"),
            similar: false,
            open: false,
          },
          {
            id:4,
            img: require("../assets/MadMax.jpg"),
            similar: false,
            open: false,
          },
          {
            id:5,
            img: require("../assets/Rage2.jpg"),
            similar: false,
            open: false,
          },
          {
            id:6,
            img: require("../assets/SecondExtinction.jpg"),
            similar: false,
            open: false,
          },
          {
            id:7,
            img: require("../assets/theHunter.jpg"),
            similar: false,
            open: false,
          },
          {
            id:8,
            img: require("../assets/TheHunter2.jpg"),
            similar: false,
            open: false,
          },
            {
                id:9,
                img: require("../assets/GenZ.jpg"),
                similar: false,
                open: false,
            },
            {
                id:10,
                img: require("../assets/JustCause3.jpg"),
                similar: false,
                open: false,
            },
            {
                id:11,
                img: require("../assets/JustCause4.jpg"),
                similar: false,
                open: false,
            },
            {
                id:12,
                img: require("../assets/MadMax.jpg"),
                similar: false,
                open: false,
            },
            {
                id:13,
                img: require("../assets/Rage2.jpg"),
                similar: false,
                open: false,
            },
            {
                id:14,
                img: require("../assets/SecondExtinction.jpg"),
                similar: false,
                open: false,
            },
            {
                id:15,
                img: require("../assets/theHunter.jpg"),
                similar: false,
                open: false,
            },
            {
                id:16,
                img: require("../assets/TheHunter2.jpg"),
                similar: false,
                open: false,
            },
        ],
          openedCards : [], // keep the two open cards
          matchedCards: 0, // keep the number of matched card
      }
    },

    created() {
      this.RandomCards(this.CardImages);

    },
      computed: {
          minutes: function() {
              const minutes = Math.floor(this.startTime / 60);
              return (minutes < 10 ? '0' : '') + minutes;
          },
          seconds: function() {
              const seconds = this.startTime - (this.minutes * 60);
              return (seconds < 10 ? '0' : '') + seconds;
          },
      },
      methods:{
      // generate random cards before show and after restart game
          RandomCards: function (CardImages) {
            this.CardImages = [];
            for(let i = CardImages.length - 1; i > 0; i--) {
                let randomIndexCard = Math.floor(Math.random() * i);
                let temp = CardImages[i];
                CardImages[i] = CardImages[randomIndexCard];
                CardImages[randomIndexCard] = temp;
            }
            this.CardImages =  CardImages
        },
       // start timer
          startTimer: function() {
              this.timer = setInterval(() =>  this.startTime++, 1000);
          },
      // the card was flipped
          FlipCard: function(cardImage) {
              if(this.openedCards.length === 0 || !this.gameStarted){
                  this.startTimer();
                        this.gameStarted = true
              }
              if (this.openedCards.length < 1) {
                      cardImage.reversed = true;
                      this.CardImages.forEach((element, index) => {
                          if (element.id === cardImage.id) {
                              this.CardImages[index].open = true;
                              this.openedCards.push(cardImage)
                              return
                          }
                      })
                  } else if (this.openedCards.length < 2) {
                  this.CardImages.forEach((element, index) => {
                      if (element.id === cardImage.id) {
                          this.CardImages[index].open = true;
                          this.openedCards.push(cardImage);
                          if (cardImage.img === this.openedCards[0].img) {
                              this.CardImages[index].open = true;
                              this.CardImages[index].similar = true;
                              this.matchedCards++;
                              this.openedCards[0].similar = true;
                          }
                          return
                      }
                  })
              } else {
                  this.openedCards.forEach((element) => {
                          if (!element.similar) {
                              element.open = false;
                          }
                      })
                  this.CardImages.forEach((element, index) => {
                      if (element.id === cardImage.id) {
                          this.openedCards = [];
                          this.CardImages[index].open = true;
                          this.openedCards.push(cardImage);
                      }
                  })
              }
        }
        }
  }
</script>

<style scoped>
  .cards {
      display: inline-block;
  }
   .playGround {
       padding: 15px 340px;
   }
    .empty{
      height: 100vh;
    }
</style>
