<template>
    <div class="modal-mask" v-if="show_modal">
        <div class="modal-container">
            <div class="clearfix">
                <img src="../assets/icon-close.png" @click="closeModal"/>
                <h4>Please enter your UserName</h4>
                <form>
                    <div class="input-field">
                        <input placeholder="" id="userName" type="text" >
                        <label for="userName">User Name</label>
                    </div>
                    <a class="form-btn">Submit</a>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ["show_modal"],
        methods: {
            closeModal() {
                this.$emit("close_modal", false);
            }
        },
    }
</script>
<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 50%);
        overflow-y: auto;
    }
    .modal-container {
        width: 25%;
        height: auto;
        margin: 50px auto 0;
        position: relative;
        padding: 16px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        box-sizing: border-box;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    h4 {
        color: #282d2a !important;
        margin: 0 0 40px 0;
    }
    .input-field {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    input{
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        font-size: 16px;
        margin: 10px 0
    }
    .input-field>label {
        color: #9e9e9e;
        position: absolute;
        top: -10px;
        font-size: 1rem;
        cursor: text;
        left: 0;
    }
    .form-btn {
        position: relative;
        float: right;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        z-index: 1;
        background-color: #009688;
        padding: 10px;
        border-radius: 5px;
    }
    img {
        width: 10px;
        float:left;
    }
</style>