<template>
  <div id="app">
    <img src="assets/logo.png" alt="logo">
    <RegisterModal :show_modal="showModal" @close_modal="actCloseModal" />
    <Playground/>
  </div>
</template>


<script>
    import Playground from './components/Playground.vue'
    import RegisterModal from './components/RegisterModal.vue'

    export default {
      name: 'App',
      components: {
        Playground,
        RegisterModal
      },
      data() {
        return {
          showModal: false,
        };
      },
      created() {
        this.showModal = true;
      },
      methods: {
        actCloseModal() {
          this.showModal = false;
        },
      },
    }
</script>

<style scoped>
  #app {
    background-image: url('assets/back.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
  }
  img{
    width: 150px;
    float:left;
    padding: 20px;
  }
</style>
